*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    /* background-color: red; */
}

/* utility classes */
.flex{
    display: flex;
}

/* butnow button */
.buy{
    color: white;
    font-weight: bolder;
    padding: 10px 14px;
    background-color: red;
    font-size: 1.5rem;
    text-decoration: none;
    font-stretch:expanded;
    box-shadow: 0px 0px 10px red;

}

/* custom css */
#navbar{
    flex-direction: row;
    height: 50px;
    background-color: black;
    position:sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.left-logo{
    /* background-color: red; */
    width:10%;
}

.left-logo img{
    width: 100%;
}

.rightnav{
    /* background-color: red; */
    align-items: center;
    padding: 4px 10px; 
    /* width: 20%; */

    justify-content: space-between;
}

#nav-btn{
    padding: 7px 15px;
    margin: 0px 15px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: none;
    background: black;
    border: 1px solid red;
    box-shadow: 0px 0px 10px red;
    color:yellow;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

#nav-btn:hover{
    box-shadow: none;
    color:white;
    border: 1px solid black;
}

.fa-sharp{
    font-size: 1.2rem;
    margin: 0px 10px;
    cursor: pointer;
}

/* background image  */
.bg-image{
    background: url('https://assets.2k.com/1a6ngf98576c/38uUDEXCFnLxuEIphHVPUO/a852206dcf4e928f65d7f4edfdbc2a7d/WWE23-WEBSITE-HOMEPAGE-MARQUEE-TALL-DESKTOP.jpg');
    background-size: cover;
    height: 100vh;
    padding: 130px;
    align-items: flex-end;
    justify-content: flex-end;
}

.bg-image a{
    color: white;
    font-weight: bolder;
    padding: 10px 14px;
    background-color: red;
    font-size: 1.5rem;
    text-decoration: none;
    font-stretch:expanded;
    box-shadow: 0px 0px 10px red;

}

.bg-image a:hover{
    color:black;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}


/* card section first */

#slider-card{
    background: url('img/assets/asset\ 0.octet-stream');
    background-size: cover;
    padding-top: 40px;
}

.slider-container{
    width: 85%;
    margin: 0 auto;
    padding: 40px 20px 40px 20px;
    gap: 60px;
    text-align: center;
}

.slider-item{
    width: 35%;
    text-align: center;
    margin: 0 auto;
    color: white;
    
}

.slider-item img{
    width: 90%;
}

.slider-item h3{
    font-size: 1.3rem;
    margin: 10px 0px 20px 0px;
}

.slider-item a{
    margin: 20px 0px;
}

.slider-item a:hover{
    color:black;
    background-color: white;
    box-shadow: 0px 0px 10px black;
}

.slider-item p{
    margin: 20px 0px;
    line-height: 25px;
    font-size: 1.2rem;
    text-align: left;
    
}